	body{
		background-color: #FFF4E0;

	}
	hr
	{
		
		height: 0px;
		border: none;
		width: 30%;
		border-style: none;
		border-top-style: dotted;
		border-color: grey;
		border-width: 10 px;
		width: 3%;
	}
	h1
	{
color:#66BFBF ;
	} 
	h3
	{
color:#66BFBF ;
	}